ipfw -q -f flush

cmd="ipfw -q add"

# Разрешаем все для лупбэка
$cmd 00010 allow all from any to any via lo0 

# Разрешаем все для исходящих соединений
$cmd 00015 allow ip from me to any out setup keep-state

# Разрешаем DNS
$cmd 00017 allow all from me to any 53  	
$cmd 00018 allow all from any 53 to me

# SSH
$cmd 00020 allow tcp from 172.20.10.0/24 to me 22 in via em0 setup keep-state

# Сам zabbix
$cmd 00030 allow tcp from 172.20.10.0/24 to me 3000 in via em0 setup keep-state 
