ipfw -q -f flush

cmd="ipfw -q add"

$cmd 00010 allow all from any to any via lo0

$cmd 00015 allow tcp from me to any out setup keep-state

$cmd 00017 allow udp from me to any 53 out
$cmd 00016 allow udp from any 53 to me in
 
$cmd 00020 allow tcp from {{ main_network }} to me 22 in via em0 setup keep-state

$cmd 00030 allow tcp from {{ main_network }} to me {{ zabbix_port }} in via em0 setup keep-state 
